.search-wrapper{
    display: grid;
}
.search{
    grid-area: 1/1/1/3;
    padding: 10px;
    background-color: rgb(25, 247, 255);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: black;
}
.search-wrapper svg{
    grid-area: 1/2/1/3;
    color: rgb(59, 59, 59);
    height: 4vh;
    justify-self: end;
    margin: 0px 15px;
    align-self: center;
}